<ion-view class=" " style="background-color: rgb(218, 226, 254);" id="page2" title="Journey Planner">
    <ion-content class="has-header" padding="true">
        <form class="list " id="journeyPlanner-form12">
            <label id="journeyPlanner-input5" class="item item-input plan-journey-from">
                <span class="input-label">From:</span>
                <input placeholder="" type="text">
            </label>
            <label id="journeyPlanner-input6" class="item item-input plan-journey-to">
                <span class="input-label">To:</span>
                <input placeholder="" type="text">
            </label>
            <label id="journeyPlanner-input7" class="item item-input plan-journey-depart">
                <span class="input-label">Departure time:</span>
                <input placeholder="" type="time">
            </label>
            <label id="journeyPlanner-input8" class="item item-input plan-journey-arrive">
                <span class="input-label">Arrival time:</span>
                <input placeholder="" type="time">
            </label>
        </form>

        <div style="margin: 0px; background-color: #387ef5; text-align: center;position:relative; right: 5%; width:105%">
            <div id="map2" style="width: 93%; height: 400px; position:relative; left: 7%"></div>
        </div>

        <ion-list class=" " id="journeyPlanner-list2">
            <ion-item style="" id="journeyPlanner-list-item9" class="item-icon-right  route-result">Route 1
                <i class="icon ion-android-arrow-dropright icon-accessory"></i>
            </ion-item>
            <ion-item style="" id="journeyPlanner-list-item10" class="item-icon-right  route-result">Route 2
                <i class="icon ion-android-arrow-dropright icon-accessory"></i>
            </ion-item>
            <ion-item style="" id="journeyPlanner-list-item11" class="item-icon-right  route-result">Route 3
                <i class="icon ion-android-arrow-dropright icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
