<ion-view class=" " style="background-color: rgb(218, 226, 254);" id="page4" title="Tracking">
    <ion-content class="has-header" padding="true">
        <form class="list " id="tracking-form15">
            <ion-toggle class=" toggle-stream" id="tracking-toggle5" toggle-class="toggle-positive" ng-checked="true">Stream My Bus's Location</ion-toggle>
            <div style="width: 283px; height: 28px;" class="spacer"></div>
            <p class=" " style="color:#000000;font-size:16px;" id="tracking-markdown4">
                <strong>Find Next Departures</strong>
            </p>
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Search for a bus stop" type="search">
            </label>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
            </div>
            <button class=" button button-positive  button-block icon ion-android-search " id="tracking-button1">Find next departures to track</button>
        </form>
    </ion-content>
</ion-view>